
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}



.prev {
    position: absolute;
    top:  8%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    right: 98%;
}
.next { 
    position: absolute;
    top: 8%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    left: 98%;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .prev1 {
    position: absolute;
    top:  40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
.next1 { 
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    left: 97%
}
.prev1:hover, .next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}